$base-color: #A50044;
$icon-color: #e5f8ff;
$highlight-color: #0F2A56;
$notification-color: #d5c711;
$button-color: #A50044;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #ce0055;

@import "../../_admin.scss";
