$base-color: #5CBFEB;
$icon-color: #e5f8ff;
$highlight-color: #3A7895;
$notification-color: #D3AA54;
$button-color: #E21F4E;

$menu-submenu-text: #e9f5fb;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #5fc9f8;

@import "../../_admin.scss";
