$base-color: #d72027;
$icon-color: #e5f8ff;
$highlight-color: #000;
$notification-color: #a78506;
$button-color: #d72027;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #f8222a;

@import "../../_admin.scss";
