$base-color: #7B9BD8;
$icon-color: #e5f8ff;
$highlight-color: #000;
$notification-color: #FCC214;
$button-color: #7B9BD8;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #8cace9;

@import "../../_admin.scss";
