$base-color: #B43A47;
$icon-color: #e5f8ff;
$highlight-color: #1D161D;
$notification-color: #cbcb06;
$button-color: #B43A47;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #bf4855;

@import "../../_admin.scss";