$base-color: #C7141C;
$icon-color: #e5f8ff;
$highlight-color: #29282D;
$notification-color: #a7a334;
$button-color: #C7141C;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #d7161f;

@import "../../_admin.scss";
