$base-color: #F36C21;
$icon-color: #fff1e9;
$highlight-color: #2B1312;
$notification-color: #253780;
$button-color: #F36C21;

$menu-submenu-text: #fff1e9;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #ff7224;

@import "../../_admin.scss";
