$base-color: #CD2427;
$icon-color: #e5f8ff;
$highlight-color: #922426;
$notification-color: #9BCC00;
$button-color: #CD2427;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #df282c;

@import "../../_admin.scss";
