$base-color: #E21F4E;
$icon-color: #e5f8ff;
$highlight-color: #2E6ABD;
$notification-color: #9baf47;
$button-color: #E21F4E;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #f53462;

@import "../../_admin.scss";
