$base-color: #DE0E07;
$icon-color: #e5f8ff;
$highlight-color: #0039A6;
$notification-color: #bcb006;
$button-color: #d72027;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #f70f07;

@import "../../_admin.scss";
