$base-color: #DB2118;
$icon-color: #e5f8ff;
$highlight-color: #fbc705;
$notification-color: #1A171B;
$button-color: #DB2118;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fbc705;
$menu-submenu-background: #f1251b;

@import "../../_admin.scss";
