$base-color: #1742AA;
$icon-color: #e5f8ff;
$highlight-color: #1FA350;
$notification-color: #E6463F;
$button-color: #1742AA;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #1d4dc1;

@import "../../_admin.scss";
