$base-color: #002952;
$icon-color: #e5f8ff;
$highlight-color: #1D2733;
$notification-color: #C04444;
$button-color: #002952;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #003468;

@import "../../_admin.scss";
