$base-color: #006D55;
$icon-color: #e5f8ff;
$highlight-color: #AE231D;
$notification-color: #BD9E67;
$button-color: #006D55;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #007d61;

@import "../../_admin.scss";
