$base-color: #033B76;
$icon-color: #e5f8ff;
$highlight-color: #BA1B2D;
$notification-color: #BF9819;
$button-color: #033B76;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #04458a;

@import "../../_admin.scss";
