$base-color: #E72E3C;
$icon-color: #ffdfe3;
$highlight-color: #b72934;
$notification-color: #27336D;
$button-color: #E72E3C;

$menu-submenu-text: #ffdfe3;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #f83543;

@import "../../_admin.scss";
