$base-color: #BF1717;
$icon-color: #e5f8ff;
$highlight-color: #1C3392;
$notification-color: #fcb507;
$button-color: #BF1717;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #de1b1b;

@import "../../_admin.scss";
