$base-color: #E32328;
$icon-color: #e5f8ff;
$highlight-color: #002A5B;
$notification-color: #02BE72;
$button-color: #E32328;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #ee262c;

@import "../../_admin.scss";
