$base-color: #8D2836;
$icon-color: #ffdfe3;
$highlight-color: #10599F;
$notification-color: #E8AD00;
$button-color: #8D2836;

$menu-submenu-text: #ffdfe3;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #a92e3f;

@import "../../_admin.scss";
