$base-color: #FDABB1;
$icon-color: #ffffff;
$highlight-color: #bf7c81;
$notification-color: #239154;
$button-color: #bf7c81;

$menu-submenu-text: #fff;
$menu-submenu-focus-text: #fafafa;
$menu-submenu-background: #fabbc0;

@import "../../_admin.scss";