$base-color: #034694;
$icon-color: #e5f8ff;
$highlight-color: #3886DE;
$notification-color: #e5a60c;
$button-color: #034694;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #0457b8;

@import "../../_admin.scss";
