$base-color: #EBDB04;
$icon-color: #fff;
$highlight-color: #21241D;
$notification-color: #1C4499;
$button-color: #EBDB04;

$menu-submenu-text: #fff;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #EBDB04;

@import "../../_admin.scss";
