$base-color: #7D7774;
$icon-color: #ede8e6;
$highlight-color: #4B4E55;
$notification-color: #9ea800;
$button-color: #7D7774;

$menu-submenu-text: #f9f2ee;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #89827e;

@import "../../_admin.scss";