$base-color: #EFC53F;
$icon-color: #fffbed;
$highlight-color: #054883;
$notification-color: #17983B;
$button-color: #EFC53F;

$menu-submenu-text: #fff9e7;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #f4cf5b;

@import "../../_admin.scss";
