$base-color: #48C0DD;
$icon-color: #e5f8ff;
$highlight-color: #6582AC;
$notification-color: #e2be20;
$button-color: #48C0DD;

$menu-submenu-text: #f1fafc;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #4cd2f2;

@import "../../_admin.scss";
