$base-color: #E31B23;
$icon-color: #e5f8ff;
$highlight-color: #00A185;
$notification-color: #e5da0d;
$button-color: #E31B23;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #f41b24;

@import "../../_admin.scss";