$base-color: #DB0007;
$icon-color: #e5f8ff;
$highlight-color: #023474;
$notification-color: #9C824A;
$button-color: #DB0007;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #EF0107;

@import "../../_admin.scss";